
02-PDS-Introdução à linguagem e Numpy/.ipynb_checkpoints/01-PDS-Introdução à linguagem e Numpy_jefferson-checkpoint.ipynb
02-PDS-Introdução à linguagem e Numpy/.ipynb_checkpoints/Python_Data_Science_Numpy-checkpoint.ipynb
02-PDS-Introdução à linguagem e Numpy/.ipynb_checkpoints/Python_Data_Science_Numpy_jefferson-checkpoint.ipynb
02-PDS-Introdução à linguagem e Numpy/.ipynb_checkpoints/Python_Data_Science_Numpy_jefferson-checkpoint.ipynb
02-PDS-Introdução à linguagem e Numpy/.ipynb_checkpoints/Studying about os libraries in python-checkpoint.ipynb
03-PDS-Funções, Pacotes e Pandas básico/.ipynb_checkpoints/PDS-Pandas-checkpoint.ipynb
03-PDS-Funções, Pacotes e Pandas básico/.ipynb_checkpoints/Python_para_Data_Science_Pandas-checkpoint.ipynb
03-PDS-Funções, Pacotes e Pandas básico/~$anscricao_Aulas-PDS_Funcoes_Pacotes_Pandas_basico.docx
